.root {
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    font-size: 22px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    border-radius: 20px;
    background-color: rgb(121, 73, 149);
}
