.root {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background: #FF0E52;
}

.page {
    border: 5px solid #94CF1C;
    border-radius: 5px;
    padding: 25px;
    max-width: 1200px;
}
