.root {
    font-family: 'Helvetica';
    padding: 5px;
}

.black {
    color: black;
}

.white {
    color: white;
}

@media (max-width: 600px) {
    .s {
        font-size: 2vw; 
    }
    
    .l {
        font-size: 4vw;
    }
}
@media (min-width: 600px) {
    .s {
        font-size: 2vh; 
    }

    .l {
        font-size: 4vh;
    }
}
