.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://i.ibb.co/3YMbMqC/background.jpg');
    background-size: cover;
}
