.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #C6E58D;
    border: 10px solid #94CF1C;
    border-radius: 5px;
}

.container {
    padding: 25px;
}
