button {
    padding-left: 2px;
    border-radius: 5px;
    border-style: none;
}

button:focus { outline: none; }

@media (max-width: 480px) {
    .root {
        width: 24vw;
        height: 24vw;
        margin: 2px;
    }

    .text {
        padding-left: 2px;
        text-align: left;
        font-size: 3.5vw;
    }
}

@media (min-width: 480px) {
    .root {
        width: 20vh;
        height: 20vh;
        margin: 6px;
    }

    .text {
        padding-left: 4px;
        text-align: left;
        font-size: 3vh;
    }
}

.initial {
    background: #FF0E52;
}

.answered {
    background: #566f10;
}

.failed {
    background: #C6E58D;
    border: 5px solid #94CF1C;
}
