.root {
    width: 25vw;
    height: 25vw;
}

.text {
    text-align: left;
    font-size: 4vw;
}

.initial {
    background: transparent;
}

.answered {
    background: #ed7263;
}

.failed {
    background: #2c1f4e;
}
  