button {
    margin: 0px;
    padding: 2px;
}

@media (max-width: 600px) {
    .root {
        width: 25vw;
        height: 25vw;
        margin: 2px;
    }

    .text {
        text-align: left;
        font-size: 4vw;
    }
}

@media (min-width: 600px) {
    .root {
        width: 20vh;
        height: 20vh;
        margin: 4px;
    }

    .text {
        text-align: left;
        font-size: 3vh;
    }
}

.initial {
    background: transparent;
}

.answered {
    background: #ed7263;
}

.failed {
    background: #2c1f4e;
}
  